

/*** =============================================
============ *** IMPORTING FONTS *** =============
============================================= ***/

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/IRANSansWeb.woff');
}


/*** =============================================
============ *** ROOT VARIABLES *** ==============
============================================= ***/

:root {

    /* primary color */
    --primary : #F24405;
    --primary-lighten-1 : #fa6630;
    --primary-lighten-2 : #fb8c64;
    --primary-lighten-3 : #fcb297;
    --primary-lighten-4 : #fdd8cb;
    --primary-darken-1 : #c13604;
    --primary-darken-2 : #912803;
    --primary-darken-3 : #601b02;
    --primary-darken-4 : #300d01;

    --dashboard-light : #eff6ee;
    --dashboard-gray : #9197ae;
    --dashboard-dark : #273043;

    --success : #16db65;
    --success-darken-1 : #11af50;
    --success-lighten-1 : #3beb81;

    --warning : #ffb703;
    --warning-darken-1 : #ce9300;
    --warning-lighten-1 : #ffc535;

    /* frequently used variables */
    --box-shadow : 0 0 #0000 , 0 0 #0000 , 0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);

    /* other general colors */
    --black : #05060f;
    --almost-white : #f0f0f0;
    --light-gray : #aaa;
    --gray : #6a7180;
    --body-bg : #eff6ee;
}

/*** =============================================
============ *** GENERAL SELECTORS *** ===========
============================================= ***/

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: 'IRANSans';
    background-color: var(--body-bg);
    color: var(--black);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: inherit !important;
}

[placeholder] {
    font-family: inherit;
}


/*** =============================================
============ *** GLOBAL CLASSES *** ==============
============================================= ***/

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.mirror-flip {
    transform: scaleX(-1);
}

.bigger {
    font-size: 1.25rem;
}

.text-primary {
    color: var(--primary);
}

.text-muted {
    color: var(--light-gray);
}

.primary-link {
    color: var(--primary);
    transition: 0.4s;
}

.primary-link:hover {
    border-color: var(--primary-darken-2);
    color: var(--primary-darken-2);
}


.text-center {
    text-align: center;
}

.table-container {
    overflow-x: auto;
}

/*** =============================================
============ *** MARGIN & PADDINGS *** ==============
============================================= ***/

.ml-1 {
    margin-left: 4px;
}

.mr-1 {
    margin-right: 4px;
}

.mx-1 {
    margin-left: 4px;
    margin-right: 4px;
}

.py-2 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 20px;
}

.my-3 {
    margin-top: 12px;
    margin-bottom: 12px;
}

/*** =============================================
============ *** TILE (CARD) *** ==============
============================================= ***/

.section {
    padding: 32px;
}

.section.heading {
    position: sticky;
    padding: 0;
    top: 0;
    z-index: 2;
}

.section.heading > .tile {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    justify-content: space-between;
}

.section.heading > .tile > *:only-child {
    margin: 0 auto;
}

.tile {
    --roundness : 24px;
    background: #fff;
    border-radius: var(--roundness);
    box-shadow: var(--box-shadow);
    padding: 36px 24px;
}

@media only screen and (max-width: 840px) {

    .section.heading > .tile {
        padding-right: 64px;
        flex-direction: column;
        text-align: center;
        gap : 16px;
    }

    .tile {
        padding: 18px 12px;
    }
}


/*** =============================================
============ *** TABLE *** ==============
============================================= ***/

table {
    width: 100%;
    border-collapse: collapse;
}

table.bordered th, table.bordered td {
    border: 2px solid var(--dashboard-dark);
}

table th, table td {
    padding: 12px;
}

table.striped tbody tr:nth-child(even) {
    background-color: var(--almost-white);
}

table.striped tbody tr:nth-child(odd) {

}

table.hovered tbody tr:hover {
    background-color: var(--primary-lighten-4);
}

/*** =============================================
============ *** FORM ELEMENTS *** ==============
============================================= ***/

.input-group {
    padding: 8px;
    position: relative;
    margin-bottom: 16px;
}

.input-group .input {
    font-family: inherit;
    width: 100%;
    min-height: 44px;
    background-color: #05060f0a;
    border-radius: 8px;
    padding: 0.75rem 1rem;
    border: 2px solid transparent;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input-group .label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    /* transition: color .3s cubic-bezier(.25,.01,.25,1) 0s; */
}

.input-group .input:hover {
    border-color: var(--primary);
}

.input-group .input:focus {
    border-color: var(--primary-darken-1);
    outline: none;
}

/*** =============================================
========= *** ANIMATIONS *** ==============
============================================= ***/

.bounce-enter-active {
    animation: bounce-in 0.5s;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/*** =============================================
========= *** MODAL *** ==============
============================================= ***/

.modal {
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal > .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 680px;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
    position: relative;
    top: 50px;
}

/* The Close Button */
.modal > .modal-content > .close {
    position: absolute;
    left: 18px;
    top: 8px;
    color: var(--gray);
    font-size: 28px;
    font-weight: bold;
    z-index: 1001;
}

.modal > .modal-content > .close:hover, .modal > .modal-content > .close:focus {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .modal > .modal-content {
        width: 94%;
    }
}

/*** =============================================
========= *** BADGE COMPONENT *** ==============
============================================= ***/

.badge {
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
    background-color: var(--bg);
    min-width: 80px;
    font-size: 14px;
}

/*** =============================================
========= *** ALERT COMPONENTS *** ==============
============================================= ***/

.alert-ok {
    padding: 20px 40px;
    border: 2px solid var(--primary-darken-3);
    color: var(--primary-darken-3);
    background-color: var(--primary-lighten-4);
    border-radius: 9999px;
}

.alert-warning {
    padding: 20px 40px;
    border: 2px solid var(--warning-darken-1);
    color: black;
    background-color: var(--warning);
    border-radius: 9999px;
}


/*** =============================================
============ *** LOADING CARD *** ================
============================================= ***/

.loading-bg {
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    animation: bgLoadingAnimation 2s infinite;
    background-size: 200% 100%;
    background-position: 100% 0;
}

@keyframes bgLoadingAnimation {
    100% {
        background-position: -100% 0;
    }
}



/*** =============================================
============ *** MEDIA QUERIES *** ================
============================================= ***/

@media only screen and (max-width: 760px) {

}
